/* red: #DF2E38 green: #5D9C59 back: #DDF7E3 */

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	font-family: var(--font-body);
	color: var(--color-text);
	--festive: 'Festive', cursive;

	--main-red: #df2e38;
	--main-green: #5d9c59;
	--background: #ddf7e3;

	--red-50: #fef2f3;
	--red-100: #fee2e4;
	--red-200: #fecacd;
	--red-300: #fda4a9;
	--red-400: #f97078;
	--red-500: #f0434d;
	--red-600: #df2e38;
	--red-700: #ba1b24;
	--red-800: #9a1a21;
	--red-900: #801c22;
	--red-950: #450a0d;

	--green-50: #f4f9f4;
	--green-100: #e7f2e6;
	--green-200: #cee5cd;
	--green-300: #a9cfa6;
	--green-400: #7bb177;
	--green-500: #5d9c59;
	--green-600: #457841;
	--green-700: #395f36;
	--green-800: #2f4d2e;
	--green-900: #284027;
	--green-950: #122112;

	--hint-of-green-50: #f2fbf4;
	--hint-of-green-100: #ddf7e3;
	--hint-of-green-200: #c3efcd;
	--hint-of-green-300: #94e1a7;
	--hint-of-green-400: #5eca79;
	--hint-of-green-500: #38af57;
	--hint-of-green-600: #299043;
	--hint-of-green-700: #237238;
	--hint-of-green-800: #205b30;
	--hint-of-green-900: #1c4b2a;
	--hint-of-green-950: #0a2913;

	--stone-50: #fafaf9;
	--stone-100: #f5f5f4;
	--stone-200: #e7e5e4;
	--stone-300: #d6d3d1;
	--stone-400: #a8a29e;
	--stone-500: #78716c;
	--stone-600: #57534e;
	--stone-700: #44403c;
	--stone-800: #292524;
	--stone-900: #1c1917;
	--stone-950: #0c0a09;

	--yellow-50: #fefbe8;
	--yellow-100: #fff8c2;
	--yellow-200: #ffee87;
	--yellow-300: #ffdd43;
	--yellow-400: #ffcd2a;
	--yellow-500: #efae03;
	--yellow-600: #ce8500;
	--yellow-700: #a45e04;
	--yellow-800: #88490b;
	--yellow-900: #733c10;
	--yellow-950: #431e05;
}

body {
	min-height: 100vh;
	margin: 0;
	background-size: 100vw 100vh;
	background: var(--background);
	background: rgb(255, 255, 255);
	background: linear-gradient(
		120deg,
		var(--red-200) 0%,
		var(--green-200) 27%,
		#fff 85%,
		var(--green-200) 100%
	);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

/* utils */
.shadow-lg {
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.2),
		0 4px 6px -4px rgb(0 0 0 / 0.2);
}
.shadow-xl {
	box-shadow:
		0 20px 25px -5px rgb(0 0 0 / 0.2),
		0 8px 10px -6px rgb(0 0 0 / 0.2);
}

.rounded-lg {
	border-radius: 0.5rem; /* 8px */
}

.rounded-xl {
	border-radius: 0.75rem; /* 12px */
}

.rounded-2xl {
	border-radius: 1rem; /* 16px */
}

/* animations */
@keyframes fadeUp {
	from {
		opacity: 0;
		transform: translateY(20rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeLeft {
	from {
		opacity: 0;
		transform: translateX(20rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fadeRight {
	from {
		opacity: 0;
		transform: translateX(-20rem);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes openCard {
	from {
		transform: translateZ(42px);
	}
	to {
		transform: translateZ(0);
	}
}
